body {
    height: 100vh;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: 200px;
    margin-right: 200px;
    background-image: repeating-linear-gradient(
        to right,
        /* rgb(1, 93, 1) 0px,
        rgb(1,93,1) 75px,
        rgb(67, 233, 67) 75px,
        rgb(67,233,67) 150px */
        #228B22 0px,
        #228B22 75px,
        #7CFC00 75px,
        #7CFC00 150px
    );
}

.field {
    position: relative;
    width: 875px;
    height: 583px;
    border: 7.5px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 20px auto;
}

.scorecard{
    background-image: linear-gradient(45deg, rgb(0, 0, 184), rgb(108, 0, 108));
    color: white;
    /* font-family: ITC Novarese Std, sans-serif; */
    font-family: 'ITC Novarese', 'Montserrat', 'Futura', 'Arial', sans-serif;
    /* margin-left: 280px;
    margin-bottom: 20px; */
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    /* background-color: #f0f0f0; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.score{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/* .champions-league {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow:
    0 0 5px rgba(255, 255, 255, 0.7),
    0 0 10px rgba(255, 255, 255, 0.5);
    background: linear-gradient(45deg, blue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 40px 0;
    text-align: center;
} */

.goalpost {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 150px;
    background-color: white;
    border-radius: 4px;
    transform: translateY(-50%);
    box-shadow: 0 0 8px 2px white;
    z-index: 10;
}

/* Left goalpost */
.left-goal {
    left: -30px;  /* Slightly outside the field border */
}

/* Right goalpost */
.right-goal {
    right: -30px; /* Slightly outside the field border */
}
.halfway-line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 7px;
    background-color: white;
    transform: translateX(-50%);
    z-index: 5;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid white;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.ball {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    background-image: 
    radial-gradient(circle at 20% 20%, black 10%, transparent 2.5%),
    radial-gradient(circle at 70% 20%, black 10%, transparent 2.5%),
    radial-gradient(circle at 50% 50%, black 10%, transparent 2.5%);
    background-size: 60px 60px;
    background-repeat: repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: solid 1px black;
    box-shadow: 0 0 8px 2px white;
}

.player1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    box-shadow: 0 0 8px 2px white;
    border: solid 1px black;
}

.player2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    box-shadow: 0 0 8px 2px white;
    border: solid 1px black;
}
